<div *ngIf="movieDetails">
<div class="row">
   <div class="col-lg-8">
      <h1>{{ movieDetails?.FilmName }}</h1>
     <div class="table-responsive">
        <table *ngIf="movieDetails.FilmMembers" class="table table-bordered">
           <thead>
              <tr>
                 <th>Member Name</th>
                 <th>Role</th>
              </tr>
           </thead>
           <tr *ngFor="#member of movieDetails?.FilmMembers">
              <td>{{member.MemberName}}</td>
              <td>{{member.Role}}</td>
           </tr>
        </table>
     </div>
   </div>
  <div class="col-lg-4">
     <img [src]="movieDetails?.PictureURL" class="img-responsive movie-img">
  </div>
</div>
</div>