:host {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    padding: 10px;
}
header {
    color: #c6c5c3;
}
header.medium-movies {
    color: #53ace4;
}
header.medium-series {
    color: #45bf94;
}
header > h2 {
    font-size: 1.4em;
}
header > h2.error {
    color: #d93a3e;
}
section {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
section > movie {
    margin: 10px;
}
footer {
    text-align: right;
}
footer .icon {
    width: 64px;
    height: 64px;
    margin: 15px;
}