<div class="col-md-4 portfolio-item">
    <a [routerLink]="['MovieDetails', {id: film.FilmId}]">
        <img class="img-responsive movie-img" [src]="film.PictureURL" alt="">
    </a>
    <h3>
        <a [routerLink]="['MovieDetails', {id: film.FilmId}]">{{ film?.FilmName }}</a>
    </h3>
</div>